*{
    background:  #E5E5E5;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
    
.logoAlura{

    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;

}

::placeholder{color: #0A3871; }
    .text-area:focus{
        outline: none;
    }

.mensagem{
    /*background: white;*/
    background-image: url(/imagens/bonecoAlura.png);
    background-repeat: no-repeat;
    border: none; 
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 50px;
    padding-left: 20px;
    position: fixed;
    width: 335px;
    height: 304px;
}

.mensagem:focus{
    outline: none;
}

.caixa__mensagem__l1{
    /*background-color: white;*/
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    width: 336px;
    height: 58px;
    margin-top: 390px;
    margin-left: 98px;
    text-align: center;
 
 }

.caixa__mensagem__l2{
    /*background-color: white;*/
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    width: 336px;
    height: 48px;
    margin-left: 98px;
    text-align: center;

}

.informacao{
    color: #495057;
    font-size: 12px;
    
}
    
.botoes{
    display: flex;
    margin-top: 18px;
}

.btn-encripta{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;

}

.btn-desenencripta{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 98px;
    /*margin-top: 482px;*/
    position: absolute;
    width: 336px;
}

